# env (CRITICAL)
env/
venv/
env1/

# git
.git

# python cache
__pycache__/
*.pyc

# dvc
dvc_storage/

# ignore all data first
data/*

# allow only what app needs
!data/processed/final_data.csv
!data/external/plot_data.csv